.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field{
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
